#home {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-link {
  transition: color 0.25s ease;
}
.nav-link:hover {
  color: #0d6efd !important;
}

footer a.text-dark:hover {
  color: #0d6efd !important;
  transform: scale(1.1);
}
